/*---------------obligatorio para todos los proyectos----------------*/

html {
    box-sizing: border-box;
    
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }









/*---------------obligatorio para todos los proyectos----------------*/

body{
     font-family: 'Raleway', sans-serif;
     line-height: 2px;
}




/*Globales este hace que todas las imagenes sean responsivas*/

.img-tamaño{
    max-width: 100%;
}






.contenedor{  /*esta clase hace que todo se vea centrado aplicada a la primera seccion y al header*/
max-width: 1200px;
margin: 0 auto;

}
h1{
    font-size: 38 px;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 26px;
}













/*Header*/

.seccion{
    margin-top: 20px;
    margin-bottom: 20px;
}

/*-------------------------------------------------------------------------------------------------*/
/*framework este es para centrar y el gror de parrafo Crescimento Pessoal e Espiritual*/

.fw-300{
    font-weight: 300;
}

.centrar-texto{
    text-align: center;
}
/*-------------------------------------------------------------------------------------------------*/


.d-block{
    display: block !important;
}


/*Botones*/

.botom{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block; /*nos permite modificar el ancho y el alto del boton*/
    text-align: center;
}

.botom-amarillo{
background-color: #e08709;
display: block;
}

.botom-verde{
    background-color: #71b100;
}




















/*recordar que flexbox solo afecta el primer nivel*/

/*Header*/
.headermasfondo{
background-image: url(../img/exageo5067.png);
background-position: center center;
background-size: cover;
height: 100vh;
min-height: 600px;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h5 {
    color: white;
    padding-bottom: 20px;/*ESPACIO HACIA DENTRO DEL ELEMENTO*/
    margin-left: 70px; /*espacio hacia la izquierda*/
    max-width: 200px;/* esto actua como un br se para el texto en dos partes*/
    line-height: 20px; /*espaciado entre lineas*/
}


.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}


.navegacion a{
    color: hsla(0, 0%, 100%, 1);
    text-decoration: none;
    font-size: 18px; /*=18px*/
    margin-right: 30px;
}
.navegacion a:last-of-type{
 margin:0;
}

.navegacion a:hover{
    color: cornflowerblue;
}

/*iconos nosotros*/
 /*esto pertenece a la primera seccion no confundir con el gran header*/
/*comenzamos a plicar flexbox*/





.iconos-nosotros{
    display: flex;
    justify-content: space-between;
    
}

/*definiedo en ancho*/
    .icono{

        flex-basis: calc(33.3% - 1rem);
                     /*(este calculo es para que cada uno mida lo mismo y tome todo el espacio disponible
                     mesclada con justify-content: que lo tenemos arriba en iconos nosotros;)*/
            text-align: center; /*centrar los textos de la primera seccion*/
    }



.icono h3{

    text-transform: uppercase;

}

/*anuncios con articulos de ventas*/

.contenedor-anuncios{
    display: flex;
    justify-content: space-between; /*nos genera la separacion entre cada articulo*/
}

.anuncio{
    flex-basis: calc(33.3% - 1rem); /*para la distribucion correcta de las images*/
    border: 1px solid #B5B5B5; 
    background-color: #F5F5F5; /*COLO FONDO DE ANUNCIOS*/

   
}



 /*lo aplica hacia todas las direcciones*/ 
  /*si quieres especificar direcciones debes usar padding , top, left, bottom y right*/


.contenido-anuncio {
    padding: 2rem;
}
.contenido-anuncio h3, 
.contenido-anuncio p  {
    margin: 60;
}


.precio{
    color: yellowgreen;
    font-weight: 700;
}

.ver-todas{
    display: flex;
    justify-content: flex-end;
}


.imagen-contacto{
    background-image: url(../img/12514wide.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
    
}

.contenido-contacto{
    flex: 1; /*esto se conoce como factor de crecimiento*/
    color: #ffffff;
}

.contenido-contacto p{
    font-size: 1.8rem;
}






